<div
  class="utility-bar color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} utility-bar--bottom-border{% endif %}"
  {{ block.shopify_attributes }}
>
  <div class="announcement-bar">
    <div class="page-width flex-center highlight-section">
      {% for block in section.blocks %}
        <div class="announcement-bar__message h5 highlight-item flex-center">
          {%- if block.settings.image != blank -%}
            {{ block.settings.image | image_url: width: 16 | image_tag }}
          {%- endif -%}
          <span class="highlight-text">{{ block.settings.text }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% stylesheet %}
  .highlight-section {
    padding: 1.15em 0;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .highlight-section svg {
    width: 2.7em;
    flex: 2.7em;
    margin-right: 0.7em;
    height: 100%;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  .highlight-section .highlight-item {
    display: flex;
    align-items: center;
    margin: 0 1.4em;
  }
  .highlight-item .highlight-text {
    margin-left: 0.5em;
  }
  @media screen and (max-width: 767px) {
    .highlight-section {
      padding: 4px 0 2px;
    }
    .main-container {
      padding: 0 5px;
    }
    .highlight-section .highlight-item {
      margin: 0 9px;
    }
    .highlight-item .highlight-text {
      margin-left: 3px;
      font-size: calc(var(--font-heading-scale) * 0.9rem);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Header Highlights",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "accent-1"
    }
  ],
  "tag": "header",
  "class": "header-highlights",
  "limit": 1,
  "blocks": [
    {
      "name": "Highlight",
      "type": "highlight",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Caption",
          "default": "Highlight"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "max_blocks": 3,
  "enabled_on": {
    "templates": ["*"],
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Highlights",
      "blocks": [
        {
          "type": "highlight"
        },
        {
          "type": "highlight"
        }
      ]
    }
  ]
}
{% endschema %}
