<div
  class="utility-bar color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} utility-bar--bottom-border{% endif %}"
  {{ block.shopify_attributes }}
>
  <div class="announcement-bar">
    <div class="page-width flex-center allorio-highlight-section">
      {% for block in section.blocks %}
        <div class="announcement-bar__message h5 allorio-highlight-item flex-center">
          {%- if block.settings.image != blank -%}
            {{ block.settings.image | image_url: width: 16 | image_tag }}
          {%- endif -%}
          <span class="allorio-highlight-text">{{ block.settings.text }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% stylesheet %}
  .allorio-highlight-section {
    padding: 1.15em 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 767px) .allorio-highlight-section {
    padding: 4px 0 2px;
  }
  @media screen and (max-width: 990px) .allorio-highlight-section {
  }
  @media screen and (max-width: 1279px) .allorio-highlight-section {
  }
  @media screen and (max-width: 767px) .allorio-highlight-section svg {
    width: 2.2em;
    flex: 2.2em;
  }
  .allorio-highlight-section svg {
    width: 2.7em;
    flex: 2.7em;
    margin-right: 0.7em;
    height: 100%;
  }

  @media screen and (max-width: 767px) .allorio-highlight-section .allorio-highlight-item {
    margin: 0 9px;
  }

  .allorio-highlight-section .allorio-highlight-item {
    display: flex;
    align-items: center;
    margin: 0 1.4em;
  }

  @media screen and (max-width: 767px) .allorio-highlight-item .allorio-highlight-text {
    margin-left: 5px;
  }

  .allorio-highlight-item .allorio-highlight-text {
    margin-left: 0.5em;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Header Highlights",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "accent-1"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    }
  ],
  "tag": "header",
  "class": "header-highlights",
  "limit": 1,
  "blocks": [
    {
      "name": "Highlight",
      "type": "highlight",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Caption",
          "default": "Highlight"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "max_blocks": 3,
  "enabled_on": {
    "templates": ["*"],
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Highlights",
      "blocks": [
        {
          "type": "highlight"
        },
        {
          "type": "highlight"
        }
      ]
    }
  ]
}
{% endschema %}
