.IconsWithText--container .icon-with-text {
  margin: 2.5rem 0;
}

/* Icon with text */
.icon-with-text {
  --icon-size: calc(var(--font-heading-scale) * 3rem);
  --icon-spacing: calc(var(--font-heading-scale) * 1rem);
}

.icon-with-text--horizontal {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  flex-direction: row;
}

.icon-with-text--vertical {
  --icon-size: calc(var(--font-heading-scale) * 2rem);
}

.icon-with-text .icon {
  fill: rgb(var(--color-foreground));
  height: var(--icon-size);
  width: var(--icon-size);
}

.icon-with-text--horizontal .icon,
.icon-with-text--horizontal img {
  margin-bottom: var(--icon-spacing);
}

.icon-with-text--vertical .icon {
  min-height: var(--icon-size);
  min-width: var(--icon-size);
  margin-right: var(--icon-spacing);
}

.icon-with-text img {
  height: var(--icon-size);
  width: var(--icon-size);
  object-fit: contain;
}

.icon-with-text--vertical img {
  margin-right: var(--icon-spacing);
}

.icon-with-text--horizontal .h4 {
  padding-top: calc(var(--icon-size) + var(--icon-spacing));
  text-align: center;
}

.icon-with-text--horizontal svg+.h4,
.icon-with-text--horizontal img+.h4,
.icon-with-text--horizontal.icon-with-text--text-only .h4 {
  padding-top: 0;
}

.icon-with-text__item {
  display: flex;
  align-items: center;
}

.icon-with-text--horizontal .icon-with-text__item {
  flex-direction: column;
  width: 33%;
}

.icon-with-text--vertical .icon-with-text__item {
  margin-bottom: var(--icon-size);
}

@media screen and (max-width: 749px) {
  .icon-with-text .hide-description-on-mobile {
    display: none;
  }
}